# ビルドに不要なファイルやディレクトリを指定する

# すべての .git ディレクトリを無視
.git/

# すべてのログファイルを無視
*.log

# node_modules ディレクトリを無視
node_modules/

# README.md を無視
README.md

# 一時的なバックアップファイルを無視
*~

# コンパイルされたバイナリを無視
*.exe
*.o
*.a
